/* src/HomePage.css */

.navbar-brand {
    font-size: 2rem; /* Adjust the font size as needed */
    padding-left: 20px; /* Space on the left side of the brand */
    padding-right: 20px; /* Space on the right side of the brand */
}

.navbar-nav {
    flex: 1; /* Allows the Nav component to take up available space */
}

.flex-fill {
    display: flex;
    flex: 1;
    justify-content: space-between; /* Spreads out Nav.Item elements */
}

.flex-item {
    flex: 1; /* Allows each item to grow and shrink equally */
    margin-right: 5px; /* Adjust spacing between buttons */
}

.flex-item:last-child {
    margin-right: 0; /* Remove margin for the last item */
}
