App.css

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
  color: white;
}

.header p {
  font-size: 1.2em;
}

.footer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}
/*====================================================*/


.go-to-home-page-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #2894a7;
    /* #28a745 */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

.go-to-home-page-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.go-to-home-page-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(28, 136, 28, 0.5);
}
